#set($deviceLabel = "#{if}($device.model)$device.model#{else}$device.name#{end}")
#set($deviceLabelHtml = "#{if}($device.model)$esc.html($device.model)#{else}$esc.html($device.name)#{end}")
#set($eventTime = $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone))
#set($subject = "$esc.html($deviceLabel) is online")
#set($digest = "$deviceLabel came online at $eventTime")
<!DOCTYPE html>
<html>
<body>
Device: $deviceLabelHtml<br>
Online<br>
Time: $eventTime<br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Unsubscribe</a>
</body>
</html>
