#set($deviceLabel = "#{if}($device.model)$device.model#{else}$device.name#{end}")
#set($deviceLabelHtml = "#{if}($device.model)$esc.html($device.model)#{else}$esc.html($device.name)#{end}")
#set($eventTime = $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone))
#set($subject = "$esc.html($deviceLabel) exited your $esc.html($geofence.name) geofence")
#set($digest = "$deviceLabel has exited your $geofence.name geofence at $eventTime")
<!DOCTYPE html>
<html>
<body>
Device: $deviceLabelHtml<br>
Has exited your geofence: $esc.html($geofence.name)<br>
Time: $eventTime<br>
Point: <a href="$webUrl/event/$event.id">#{if}($position.address)$position.address#{else}$position.latitude&deg;, $position.longitude&deg;#{end}</a><br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Unsubscribe</a>
</body>
</html>
